.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 20px;
}

header {
  height: 90px;
  background-color: rgb(68, 63, 63);
  position: relative;
}

main {
  background-color: rgb(175, 148, 85);
}

footer {
  height: 50px;
  background-color: rgb(92, 76, 76);
  color: whitesmoke;
  font-size: 20px;
}

.box1,
.box2,
.box3 {
  height: 500px;
  background-color: rgb(94, 92, 94);
  border: 1px solid black;
  margin-top: 20px;
}

#logo {
  height: 90px;
  float: left;
}

#logo img {
  height: 90px;
  padding: 15px;
  padding-left: 25px;
}

nav {
  width: 60%;
  float: right;
}

ul li {
  display: inline-block;
  width: 19%;
  float: right;
  line-height: 90px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 3px;
}
